/* body {
    display: flex;
    flex-direction: column;
  }

div {
    background-color: rgb(140, 153, 187);
    display: flex;
    justify-content: center;
    padding: 15px;
}

#blank {
    width: 300px;
    margin: 10px;
    background-color: rgb(231, 237, 231);
}

#search {
    width: 100px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 211, 206);
}

.main-container {
    opacity: 50%;
    position: fixed;
} */

/* .group-container {
    flex-direction: column;
    background-color: rgb(189, 169, 194);
    margin: 0 auto;
} */

/* .bio-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: darkslateblue;
} */

/* #fan-art {
    opacity: 30%;
    position: fixed;
}

#artist-thumbnail  {
    height: 25vh;
    width: 25vh;
    border: 3px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 3vh;
}


#artist-logo {
    height: 20%;
    width: 20%;
    display: inline;
    border-color: rgb(255, 255, 255);
    margin: 3vh;
}

.artist-bio {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(188, 191, 197);
} */
/* 

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

        
} */