*{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.container {
    background-image: url(/abc-wallpaper.png);
    filter: grayscale(10%);
    background-repeat: repeat-x;
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 126, 145);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.slogan {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:space-evenly;
    padding-top: 25vh;
    padding-left: 28vh;
    padding-right: 25vh;
}

.header {
    padding-top: 1%;
    height: 10%;
    display: flex;
    align-items: center;
    float: center; 
}

.abc-logo {
    height: 70px;
}

.blank {
    width: 350px;
    height: 35px;
    padding-left: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(203, 236, 238);
}

.submit {
    width: 100px;
    height: 39px;
    background-color: rgb(206, 211, 210);
    justify-content: center;
}

nav {
    
    text-align: center;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

nav ul li {
    list-style: none;
    display: inline-block;   
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 26px;
}

.nav-button {
    display: flex;
    justify-content: space-evenly;
}

.artist-bio {
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(199, 237, 252);
}

.bio-details {
    padding-top: 7%;
    padding-bottom: 40px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(199, 237, 252);
}

.artist-fanart {
    width: 100%;
    height: auto;
}

.artist-section {
    height: 2vh;
}

.artist-details {
    padding-left: 3%;
    padding-right: 3%;
}

.artist-thumbnail {
display: none;
}

.artist-logo {
    width: 50%;
    height: auto;
    display: flex;
    padding-top: 20vh;
    flex-direction: column;
}

.social-media {
    margin-left: 2vh;
}

.about {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    text-align: center;
}

h1 {
    color: rgb(222, 239, 255);
    font-size: 35px;
}

h2 {
    color: rgb(141, 177, 255);
    font-size: 25px;
}

.about-description {
    display: none;
}


@media only screen and (max-width: 812px){
.container {   
    width: 100%;
    height: 100vh;
    background-color: rgba(2, 50, 82, 0.83);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}    

.header,
.ul li a {
    height: 230px;
    flex-direction: column;
    text-align: center;
    float: center;
}

.abc-logo {
    padding-top: 7vh;
}

.blank {
    width: 92%;
    height: 100%;
    margin: 1%;
    background-color: rgb(203, 236, 238);
}

.submit {
    margin: 1%;
    width: 95%;
    height: 100%;
}

.slogan {
    display: none;
}

.artist-fanart {
    padding-top: 10px;
    width: 100%;
    display: flex;
    height: auto;
}

.about-description {
    display: contents;
}

.artist-logo {
    margin: auto;
    padding-top: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-media {
    display: block;
    margin-left: 10vh;
    margin-right: auto;
}

.bio-details {
    padding-bottom: 40px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(199, 237, 252);
}

}